/* https://color.adobe.com/ja/create/color-wheel - 二重分割補色 */
/* <#D35D3F>, #D48F4A, #55D460, #5ABAD6, #D4356B */
/* <#C24B31> */

body {
    font-family: 'Verdana', sans-serif;
    color: rgba(0, 0, 0, 0.8);
    background: #f4f4f2;
    margin: 0 auto 30px auto;
}

a {
    color: #5ABAD6;
}

code {
    color: #D4356B;
}

#sidebar-title {
    padding-top: 240px;
}

#sidebar-title img.logo {
    width:127px;
    border-radius:50%;
}

#sidebar-title h1.home a {
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.8em;
}

#sidebar-social-links {
    padding: 0;
}

#sidebar-social-links a {
    color: #C24B31;
}
