<!doctype html>
<html lang="en">
    {{ partial "head.html" . -}}
    <body class="container-fluid">
        {{ partial "header.html" . -}}
        <main>
            <div id="main-row" class="row">
                <div id="sidebar" class="col-lg-3">
                    <div id="sidebar-title">
                        <img class="logo" src="/images/logo.svg">
                        <h1><a class="home" href="/">{{ .Site.Title }}</a></h1>
                    </div>
                    <ul id="sidebar-social-links">
                        {{ range $item := .Site.Params.socialIcons -}}
                        <a href="{{ $item.url }}">
                            <i class="fa {{ $item.icon }}"{{ with $item.style }} style="{{$item.style}}"{{ end }}></i>
                        </a>
                        {{ end -}}
                    </ul>
                    <div id="sidebar-footer">
                        <div>Article: {{ .Site.Params.Copyright }} - {{ .Site.Params.author }} {{ now.Format "2006"}}</div>
                        <div>Source code: CC0 - {{ .Site.Params.author }} {{ now.Format "2006"}}</div>
                        <div>Cited source codes are under the original licence</div>
                    </div>
                </div>
                <div id="content" class="col-lg-7 offset-lg-3">
                    <div class="content-nav-wrapper">
                        <nav id="content-nav" class="nav">
                            {{ range .Site.Menus.main -}}
                            <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                            {{ end -}}
                        </nav>
                    </div>
                    <div id="content-main">
                        {{ block "main" . -}}{{ end -}}
                    </div>
                </div>
                <dev id="TableOfContents-wrapper" class="col-lg-2">
                    <div id="TableOfContents-spacer"></div>
                    <div id="TableOfContents-sticky">
                        <div id="TableOfContents-title">Table of Contents</div>
                        {{ .TableOfContents -}}
                    </div>
                </dev>
            </div>
        </main>
        {{ partial "footer.html" . -}}
    </body>
</html>
