<!doctype html>
<html lang="en">
    {{ partial "head.html" . -}}
    <body class="container-fluid">
        {{ partial "header.html" . -}}
        <main>
            <div id="main-row" class="row">
                <div id="sidebar" class="col-md-4">
                    <div id="sidebar-title">
                        <img class="logo" src="/images/logo.svg">
                        <h1 class="home"><a href="/">{{ .Site.Title }}</a></h1>
                    </div>
                    <ul id="sidebar-social-links">
                        {{ range $item := .Site.Params.socialIcons -}}
                        <a href="{{ $item.url }}" rel="me" >
                            <i class="fa {{ $item.icon }}" aria-hidden="true" title="{{ $item.title }}"></i>
                        </a>
                        {{ end -}}
                    </ul>
                    <div id="sidebar-footer">
                        <div><a href="https://creativecommons.org/share-your-work/public-domain/cc0/">CC0</a> - Hiroshima.lisp</div>
                        <div>Hiroshima.lisp icon made by <a href="https://www.flaticon.com/authors/freepik">freepik</a> from <a href="https://www.flaticon.com/">www.flaticon.com</a></div>
                        <div>Cited source codes are under the original licence</div>
                    </div>
                </div>
                <div id="content" class="col-md-8 offset-md-4">
                    <nav class="nav justify-content-center">
                        {{ range .Site.Menus.main -}}
                        {{ $icon := printf "<i data-feather=\"%s\"></i>" .Pre -}}
                        {{ $text := print $icon " " .Name | safeHTML -}}
                        <a class="nav-link" href="{{ .URL }}">{{ $text }}</a>
                        {{ end -}}
                    </nav>
                    {{ block "main" . -}}{{ end -}}
                </div>
            </div>
        </main>
        {{ partial "footer.html" . -}}
    </body>
</html>
