<!doctype html>
<html lang="en">
    {{ partial "head.html" . -}}
    <body class="container-fluid">
        {{ partial "header.html" . -}}
        <main id="main-row" class="row">
            {{ partial "parts/sidebar.html" . -}}
            <div id="content" class="col-lg-9">
                <nav id="content-nav" class="nav">
                    {{ range .Site.Menus.main -}}
                    <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                    {{ end -}}
                </nav>
                <div id="content-main">
                    {{ block "main" . -}}{{ end -}}
                </div>
            </div>
        </main>
        {{ partial "footer.html" . -}}
    </body>
</html>
