{{ define "main" -}}

<h1>{{ .Title }}</h1>
<ul id="list-with-title">
    {{ range .Data.Pages.GroupByDate "2006" -}}
    <h3 class="listing-title">{{ .Key }}</h3>
    {{ range .Pages -}}
    <ul class="listing">
        <div class="listing-post">
            <span class="listing-title"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></span>
            <span class="listing-date">{{.Date.Format "Jan 2" }}</span>
        </div>
    </ul>
    {{ end -}}
    {{ end -}}
</ul>
{{ end -}}
