{{ define "main" -}}

<h1>{{ .Title }}</h1>

{{ $dateTime := .PublishDate.Format "2006-01-02" -}}
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" -}}

<aside id="article-info-wrapper">
    <div id="article-info-authors">
        {{ range .Params.author -}}
        {{ if (fileExists (printf "static/icons/%s.jpg" . )) }}
        <img class="article-info-author-icon" src="/icons/{{ . }}.jpg">
        {{ else }}
        <img class="article-info-author-icon" src="/icons/default.jpg">
        {{ end -}}
        <div class="article-info-author">{{ . }}</div>
        {{ end -}}
    </div>
    <div id="article-info">
        <span class="article-info-reading-time">{{ .ReadingTime }}-minute to read</span>
        <span id="article-info-date">
            Posted at — <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
        </span>
        <span id="article-info-tags">
            Tags —
            {{ with .Section -}}
            <a class="article-info-section" href={{ . | absURL }}>{{ . }}</a>
            {{ end -}}
            {{ with .Params.tags -}}
            {{ range . -}}
            {{ $href := print "tags/" . -}}
            <a class="article-info-tag" href="{{ $href | urlize | absURL }}">{{ . }}</a>
            {{ end -}}
            {{ end -}}
        </span>
    </div>
</aside>

<article id="article-content">
    {{ .Content -}}
</article>

<aside id="article-footer">
    {{ $related := .Site.RegularPages.Related . | first 5 -}}
    {{ with $related -}}
    <h4>See Also</h4>
    <ul>
        {{ range . -}}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end -}}
    </ul>
    {{ end -}}

    {{ with .PrevInSection -}}
    <div id="article-previous">
        <span class="article-footer-nav">Prev: </span><a href="{{ .Permalink }}">{{ .Title }}</a>
    </div>
    {{ end -}}
    {{ with .NextInSection -}}
    <div id="article-next">
        <a href="{{ .Permalink }}">{{ .Title }}</a><span class="article-footer-nav"> :Next</span>
    </div>
    {{ end -}}
</aside>

{{ end -}}
