{{ define "main" -}}

<h1>{{ .Title }}</h1>

{{ partial "parts/article-info" . -}}

<article id="article-content">
    {{ .Content -}}
</article>

<aside id="article-footer">
    {{ $related := .Site.RegularPages.Related . | first 5 -}}
    {{ with $related -}}
    <h4>See Also</h4>
    <ul>
        {{ range . -}}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end -}}
    </ul>
    {{ end -}}

    {{ with .PrevInSection -}}
    <div id="article-previous">
        <span class="article-footer-nav">Prev: </span><a href="{{ .Permalink }}">{{ .Title }}</a>
    </div>
    {{ end -}}
    {{ with .NextInSection -}}
    <div id="article-next">
        <a href="{{ .Permalink }}">{{ .Title }}</a><span class="article-footer-nav"> :Next</span>
    </div>
    {{ end -}}
</aside>

{{ end -}}
