<footer>
    <div id="footer-for-small" class="d-block d-md-none">
        <div><a href="https://creativecommons.org/share-your-work/public-domain/cc0/">CC0</a> - Hiroshima.lisp</div>
        <div>Hiroshima.lisp icon made by <a href="https://www.flaticon.com/authors/freepik">freepik</a> from <a href="https://www.flaticon.com/">www.flaticon.com</a></div>
        <div>Cited source codes are under the original licence</div>
    </div>
    <script src="/js/feather.min.js"></script>
    <script> feather.replace() </script>
</footer>
