<footer>
    <div id="footer-social-link">
        <a class="btn btn-outline-dark" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | safeJS }}">
            <i class="fa fa-facebook-f"></i>Facebook
        </a>
        <a class="btn btn-outline-dark" href="http://twitter.com/intent/tweet?text=%22{{ .Title | safeJS }}%20%7C%20{{ .Site.Title }}%22%20{{ .Permalink | safeJS }}">
            <i class="fa fa-twitter"></i>Twitter
        </a>
        <a class="btn btn-outline-dark" href="http://b.hatena.ne.jp/entry/{{ .Permalink | safeJS }}">
            <i class="fa-hatena"></i>Hatena
        </a>
        <a class="btn btn-outline-dark" href="https://getpocket.com/save?url={{ .Permalink | safeJS }}">
            <i class="fa fa-get-pocket"></i>Pocket
        </a>
        <a class="btn btn-outline-dark" href="/index.xml">
            <i class="fa fa-rss"></i>RSS
        </a>
        <a class="btn btn-outline-dark" href="mailto:?subject={{ .Title }}&amp;body={{ .Permalink | safeURL }}">
            <i class="fa fa-envelope"></i>Mail
        </a>
    </div>

    {{ $related := .Site.RegularPages.Related . | first 5 -}}
    {{ with $related -}}
    <h4>See Also</h4>
    <ul>
        {{ range . -}}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end -}}
    </ul>
    {{ end -}}

    {{ with .PrevInSection -}}
    <div id="article-previous">
        <span class="article-footer-nav">Prev: </span><a href="{{ .Permalink }}">{{ .Title }}</a>
    </div>
    {{ end -}}
    {{ with .NextInSection -}}
    <div id="article-next">
        <a href="{{ .Permalink }}">{{ .Title }}</a><span class="article-footer-nav"> :Next</span>
    </div>
    {{ end -}}

    <div id="footer-for-smartphone">
        <div>Article: {{ .Site.Params.Copyright }} - {{ .Site.Params.author }} {{ now.Format "2006"}}</div>
        <div>Source code: CC0 - {{ .Site.Params.author }} {{ now.Format "2006"}}</div>
        <div>Cited source codes are under the original licence</div>
    </div>
    <!--
         <script src="/js/feather.min.js"></script>
         <script> feather.replace() </script>
    -->
    {{ partial "parts/google-analytics.html" . -}}
    {{ partial "parts/math.html" . -}}
    {{ partial "parts/icons.html" . -}}
</footer>
