{{ define "main" }}

<h1>{{ .Page.Title }}</h1>

<form>
    <div id="search-form" class="form-group">
        <input class="form-control" onkeyup="search(this.value)" autocomplete="off" autofocus placeholder="Search" />
        <span id="inputWord"></span><span id="resultCount"></span>
    </div>
    <ul id="result" class="article-listing"></ul>
</form>

<script src="data.js"></script>

<script>
 function search(query) {
     var result = searchData(query);
     var html = createHtml(result);
     showResult(html);
     showResultCount(result.length, data.length);
 }

 function searchData(query) {
     // 検索にヒットした情報を下記のような配列として格納していく
     // [データのインデックス, 文字の開始位置, 文字の終了位置]
     var result = [];

     query = query.trim();
     if (query.length < 1) {
         return result;
     }
     var re = new RegExp(query, 'i');
     for (var i = 0; i < data.length; ++i) {
         var pos = data[i].body.search(re);
         if (pos != -1) {
             result.push([i, pos, pos + query.length]);
         }
     }
     return result;
 }

 function createHtml(result) {
     var htmls = [];
     for (var i = 0; i < result.length; ++i) {
         var dataIndex = result[i][0];
         var startPos = result[i][1];
         var endPos = result[i][2];
         var url = data[dataIndex].url;
         var title = data[dataIndex].title;
         var body = data[dataIndex].body;
         htmls.push(createEntry(url, title, body, startPos, endPos));
     }
     return htmls.join('');
 }

 function createEntry(url, title, body, startPos, endPos) {
     return '<ul class="article-listing-item">' +
            '<a class="article-listing-title" href="' + url + '">' + title + '</a>' +
            '<div class="article-listing-summary">' + excerpt(body, startPos, endPos) + '</div>' +
            '</ul>';
 }

 function excerpt(body, startPos, endPos) {
     return [
         body.substring(startPos - 30, startPos),
         '<span class="article-listing-strong">', body.substring(startPos, endPos), '</span>',
         body.substring(endPos, endPos + 200)
     ].join('');
 }

 function showResult(html) {
     var el = document.getElementById('result');
     el.innerHTML = html;
 }

 function showResultCount(count, total) {
     var el = document.getElementById('resultCount');
     el.innerHTML = 'Found <b>' + count + '</b> pages（in ' + total + ' pages）';
 }
</script>

{{ end -}}
